*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

.container{
    max-width: 900px;
    margin: 100px auto;
    
}

h1{
    font-size: 2rem;
}


.flexi{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}

/*......................ESTILOS DE GRID.............................*/ 

/*si quiero que haya espacios le pongo un porcentaje menos = 7.33% */

    .col-1 { width: 8.33%;}

    .col-2 { width: 16.66%;}

    .col-3 { width: 25%;}

    .col-4 { width: 33.33%;}

    .col-5 { width: 41.66%;}

    .col-6 { width: 50%;}

    .col-7 { width: 58.36%;}

    .col-8 { width: 66.66%;}

    .col-9 { width: 75%;}

    .col-10 { width: 83.33%;}

    .col-11 { width: 91.66%;}

    .col-12 { width: 100%;}

#form1{
    /* width: 100%;*/
    padding: 10px;
    font-size: 30px;
    font-family: "Caveat", serif;
    color: rgb(134, 173, 110);
 }

 #form1 label{
    vertical-align: top;
    width: 100%;
    padding: 5px;
}

#form1 input{
    width: 100%;
    height: 45px;
    border: 1.5px solid rgb(150, 150, 150);
    padding-left: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
}


#form1 input.btn{
    width: 150px;
    height: 30px;
    background-color: rgb(134, 173, 110);
    color: rgb(255, 255, 255);
    margin: 20px 10px;
    border: 1px solid rgb(134, 173, 110);
    font-family: "Questrial", serif;
    font-size: 14px;
}


#form1 input.btn:hover{
    background-color: rgb(0, 69, 26);
    color: white;
}

#form1 input::placeholder{
    opacity: 0.7;
    font-size: 12px;
    color: gray;

}

#form1 textarea{
    width: 100%;
    height: 150px;
    border: 1.5px solid rgb(150, 150, 150);
}

#form1 select{
    width: 100%;
    height: 45px;
    border: 1.5px solid rgb(150, 150, 150);
    padding-left: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
}


#form2{
    /* width: 100%;*/
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(173, 110, 158);
 }

 #form2 label{
    vertical-align: top;
    width: 100%;
    padding: 5px;
}

#form2 input{
    width: 100%;
    height: 45px;
    border: 1.5px solid rgb(150, 150, 150);
    padding-left: 5px;
    margin-bottom: 10px;
}


#form2 input.btn{
    width: 150px;
    height: 30px;
    background-color: rgb(134, 173, 110);
    color: rgb(255, 255, 255);
    margin: 20px 10px;
    border: 1px solid rgb(134, 173, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


#form2 input.btn:hover{
    background-color: rgb(69, 0, 14);
    color: white;
}

#form2 input::placeholder{
    opacity: 0.7;
    font-size: 12px;
    color: gray;

}

#form2 textarea{
    width: 100%;
    height: 150px;
    border: 1.5px solid rgb(150, 150, 150);
}

#form2 select{
    width: 100%;
    height: 45px;
    border: 1.5px solid rgb(150, 150, 150);
    padding-left: 5px;
    margin-bottom: 10px;
}


.p10{
    padding: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.mb50{
    margin-bottom: 50px;
}